<html>
    <head>

     <link rel="stylesheet" type="text/css" href="style.css"/>

        <title>My First PHP Template</title>
    </head>
    <body>
     <div id="container">
        <?php include("header.php")?>
          <?php include("nav.php")?>
            <?php include("content.php")?>
         <?php include("sidebar.php")?>
         <?php include("footer.php")?>
         
        </div>

    </body>
</html>
